#formContainer {
    z-index: 22;
    position: absolute;
    width: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0px 0px 28px;
    align-content: flex-start;
}

#inputContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

#root {
    color: white
}