#formContainer {
    z-index: 22;
    position: absolute;
    width: 15vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0px 0px 28px;
    align-content: flex-start;
}

#inputContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
}

#root {
    color: white;
    position: fixed;
}
canvas{
    position: fixed;
}